/* @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap'); */

/* *{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;} */



/* body{
    padding: 50px;
}
.parent :last-child{
    color: red;
    font-weight: bold;
}
.last-type:last-of-type{
    color: red;
}
div:not(#colorBlue){
    color: blue;
}
.odd :nth-child(2n+4){    
    background: gray;
}
a[href^="https"]:active{
    text-decoration: none;
}
.before:before{
    content: '!';
}
.after:after{
    content:'.';
   
}
.box{
    height: 50px;  
    width: 50px;
    border: 1px solid black;
    transform: rotate(90deg);
    position: relative;

}
.box:after{
    content: ;
    content: '.';
    position: relative;
    right: -65px;
} */
 body{
    font-family: 'Ranchers', cursive;
 }
.boxContainer{
    /* width: 100px;
    height: 75px; */
    outline: 1px solid black;
    max-width: 300px;
    max-height: 400px;
    min-width: 100px;
    min-height: 150px;
}
div{
    line-height: 40px;
    font-weight: 600;
    font-style: italic;
}
.boxPadding{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    padding: 15px 20px 35px 30px;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;

}